# Google Apps Script webhook (see scripts/google-form-webhook.gs for setup)
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwUfsHjzShRrP0WfjNLymmskTqnG5FwhGEDb72BmflGc1qJbXQa_gtgcdF91L1LARp3/exec
GOOGLE_SCRIPT_SECRET=1kSN6dv02IvfKkLJCJo3rSt8BtZthXt338NP0Q1a5LScFqRJ-jWLa31ND
